<!DOCTYPE html>
<html>
	<head>
		<title>Angular Cart</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js">
		</script>
		<script src="app.js"></script>
		<link rel="stylesheet" href="style.css"></link>
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/8bit-wonder" type="text/css"/>
	</head>

	<header><h1>Add Item To Cart</h1></header>
	<body ng-app="gemCart" ng-controller="mainCtrl as main">		

			<div class="window">
				<input  type="text" ng-model="name" placeholder="Name"/><br>
				<input  type="number" ng-model="price" placeholder="Price"/><br>
				<button ng-click="addItem()">Add Item</button>
				<div class="cart">
					<h2><div class="left" ng-show="items.length">Items</div><div class="right" ng-show="items.length">Prices</div></h2>
					
						<div class="instantiate" ng-click="removeItem(items, $index)" ng-repeat="item in items track by $index">
							<div class="item"><span>{{item.name}}</span></div>
							<div class="price"><span>{{item.price | currency}}</span></div> 
							<!--div class="remove"><button ng-click="removeItem(items, $index)">x</button></div-->
					
					</div>
				</div>

				<h3>Total: {{total | currency}}</h3>
			</div>

			
			<marquee><img src="http://vignette4.wikia.nocookie.net/undertale/images/2/20/Annoying_Dog.gif/revision/20160125092850" ng-click="annoying()" alt="This will display an animated GIF" /></marquee>
				<!--ul>
					<li ng-repeat="gem in crystalGems | orderBy: 'name'" style="color:{{gem.color}}">{{gem.name}}</li>
				</ul-->
		
	</body>
</html>
<!--div ng-init="crystalGems=[{name: 'Garnet', color: '#BC177A'},
																 {name: 'Amethyst', color: '#AB47BD'},
																 {name: 'and Pearl', color: '#92EAD9'},
																 {name: 'AND STEVEN!', color: '#FF6B8B'}]"-->